<div class="well">
  <div class="row-fluid">
    <span class="span8">
      <span class="label">{{difficulty}}</span>
      {{#if technology}}
        <span class="label">{{technology}}</span>
      {{/if}}
      <span class="label">{{eventType}}</span>
      {{#linkTo session this class="session-title"}}
        <h3 class="session-title">{{title}}</h3>
      {{/linkTo}}
      <div>
        {{#linkTo speaker speaker class="speaker-profile-thumbnail"}}
          <img {{bindAttr src="speaker.avatarURL"}} class="img-circle
          speaker-avatar-small">
          <span class="speaker-name-small">{{speakerName}}</span>
        {{/linkTo}}
      </div>
      {{#unless view.titleOnly}}
        <table class="table table-condensed session-info-table">
          <tbody>
            <tr>
              <td>Room</td><td>{{room}}</td>
            </tr>
            <tr>
              <td>Time</td><td>{{dayLabel}} at {{timeLabel}}</td>
            </tr>
            {{#if length}}
              <tr>
                <td>Length</td><td>{{lengthLabel}}</td>
              </tr>
            {{/if}}
          </tbody>
        </table>
        {{#if hasAbstract}}
          <p class="session-abstract">
            {{#if view.collapseAbstract}}
              {{#if view.showAbstract}}
                  {{abstract}}
                <a href="#" class="hide-session-info" {{action "clickedShowAbstract" target="view"}}>
                  hide
                </a>
              {{else}}
                {{shortenedAbstract}}{{#if hasMoreAbstract}}...{{/if}}
                {{#if hasMoreAbstract}}
                  <a href="#" class="more-session-info" {{action "clickedShowAbstract" target="view" }}>
                    more
                  </a>
                {{/if}}
              {{/if}}
            {{else}}
              {{abstract}}
            {{/if}}
          </p>
        {{/if}}
      {{/unless}}
    </span>
    <span class="session-buttons span4 mashboard-button">
      <a href="#" {{action toggleSavedSession target="view"}}
        {{bindAttr class=":btn isSaved::btn-primary"}}>
        {{#if isSaved}}
          <span aria-hidden="true" data-icon="&#xe000;"></span>
          <span class="screen-reader-text">Remove from My Mashboard</span>
        {{else}}
          <span aria-hidden="true" data-icon="&#xe000;"></span>
          <span class="screen-reader-text">Add to My Mashboard</span>
        {{/if}}
      </a>
    </span>
  </div>
  <div class="clearfix"></div>
</div>
