<div class="row well">
  <span {{bindAttr class=":label difficultyLabelClass"}}>{{difficulty}}</span>
  {{#if technology}}
    <span class="label label-inverse">{{technology}}</span>
  {{/if}}
  <span class="label label-info">{{eventType}}</span>
  <h3>{{title}}</h3>
  <div>
    {{#linkTo "speaker" speaker}}
      <img {{bindAttr src="speaker.avatarURL"}} class="img-circle
      speaker-avatar-small">
      <span class="speaker-name-small">{{speakerName}}</span>
    {{/linkTo}}
  </div>
  <table class="table table-condensed">
    <tbody>
      <tr>
        <td>Room</td><td>{{room}}</td>
      </tr>
      <tr>
        <td>Time</td><td>{{dayLabel}} at {{timeLabel}}</td>
      </tr>
      {{#if length}}
        <tr>
          <td>Length</td><td>{{lengthLabel}}</td>
        </tr>
      {{/if}}
    </tbody>
  </table>
</div>
